<!-- Copied from [HandyDandyNotebook](https://github.com/WesCook/HandyDandyNotebook/blob/main/src/button.mjs) -->
<template id="pd__T__topbar">
  <div id="pd__topbar-container"
       class="dropdown d-inline-block">

    <button id="pd__topbar-button"
            class="pinned-drops topbar btn btn-sm ml-2"
            @click="clickButton"
            @mouseenter="mouseEnterButton"
            @mouseleave="mouseLeaveButton"
            aria-haspopup="true"
            title="Pinned Drops">

            <!-- Replace img with `--icon-light/--icon-dark` CSS? (see Notebook mod) -->
            <img id="pd__topbar-button-image"
                class="skill-icon-xxs"
                :src="props.icon">
    </button>

  </div>
</template>

<template id="pd__T__topbar-panel">
  <!-- Copied from Equipment Stats dropdown button on top bar. -->
  <div id="pd__topbar-panel"
       class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0 border-0 font-size-sm show"
       aria-labelledby="pd__topbar-button"
       x-placement="bottom-end"
       style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-264px, 31px, 0px);">
    <div class="p-2 text-center">
      <h5 class="dropdown-header">
        Pinned Drops
      </h5>
    </div>
    <div class="block-content block-content-full text-center pt-0">
      <div>
        <ul id="pd__topbar-panel-itemlist"></ul>
      </div>
    </div>
  </div>
</template>

<template id="pd__T__topbar-panel-item">
  <li class="pd__topbar-panel-item" v-for="(count, text) in store.dropCounts" :key="text"
  style="color: #fff; text-align: left;">
      {{ count }} {{ text }}
      <!-- <drops-panel-item></drops-panel-item> -->
  </li>
</template>