<!-- Copied from [HandyDandyNotebook](https://github.com/WesCook/HandyDandyNotebook/blob/main/src/button.mjs) -->
<template id="pd__T__topbar">
  <div id="pd__topbar-container"
       class="pinned-drops dropdown d-inline-block">

    <button id="pd__topbar-button"
            class="pinned-drops topbar btn btn-sm m1-2"
            @click="clickButton"
            @mouseenter="mouseEnterButton"
            @mouseleave="mouseLeaveButton"
            aria-haspopup="true"
            title="Pinned Drops">
      <!-- Insert a transparent 1-pixel image to help match sizing of base game topbar buttons, which are determined by their img tag dimensions -->
      <img class="skill-icon-xxs" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
    </button>

  </div>
</template>

<template id="pd__T__topbar-panel">
  <!-- Copied from Equipment Stats dropdown button on top bar. -->
  <div id="pd__topbar-panel"
       class="pinned-drops topbar dropdown-menu dropdown-menu-lg dropdown-menu-right p-0 border-0 show"
       aria-labelledby="pd__topbar-button"
       x-placement="bottom-end">
    <div class="pinned-drops panel-header p-1 text-center">
      <h5 class="dropdown-header">
        Pinned Drops
      </h5>
    </div>
    <div class="pinned-drops panel-content text-dark block-content text-center pt-0">
      <div>
        <ul id="pd__topbar-panel-itemlist" class="pinned-drops panel-itemlist"></ul>
      </div>
    </div>
  </div>
</template>

<template id="pd__T__topbar-panel-item">
  <li class="pinned-drops topbar panel-item" v-for="(drop, id) in store.dropCounts" :key="id" :drop-type="drop.type">
    <img :src="drop.icon">
    <span class="pinned-drops panel-item-qty font-w700 mr-1" :class="`text-${(drop.qty > 0) ? 'success' : 'danger'}`">{{ drop.qtyText }}</span>
    <span class="pinned-drops panel-item-text">{{ drop.label }}</span>
  </li>
</template>