.mbts__logo-img {
  width: 100%;
}

/* .pinned-drops {
  --icon-light: url(blob:https://steam.melvoridle.com/ed3b3f23-c3a6-4a4d-92a6-dd706b6df71b);
  --icon-dark: url(blob:https://steam.melvoridle.com/622a18a7-06b4-4a52-89ca-53d461e47060);
} */